<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- SETUP ARGUMENTS -->
    <!-- enable/disable running rviz in launcher -->
    <arg name="rviz" default="true" />
    <arg name="titania_ns" default="i3dr_titania" />
    <arg name="cad_filepath" default="$(find i3dr_detect_3d)/data/cad/can_ref.pcd" />
    <!-- algorithm 0: OpenCV block (useful for basic testing)-->
    <!-- algorithm 2: I3DR SGM (requires license from I3DR)-->
    <arg name="stereo_algorithm" default="2" />
    <!-- enable/disable interpolation -->
    <arg name="interp" default="false" />

    <!-- Start Titania camera -->
    <include file="$(find i3dr_titania)/launch/titania.launch">
        <arg name="rviz" value="false" />
        <arg name="camera_namespace" value="$(arg titania_ns)"/>
        <arg name="stereo_algorithm" value="$(arg stereo_algorithm)"/>
        <arg name="interp" value="$(arg interp)"/>
    </include>

    <!-- Reduce point cloud size with VoxelGrid -->
    <node name="reduce_points" pkg="i3dr_detect_3d" type="reduce_points" output="screen" >
        <param name="grid_size" type="double" value="0.005" />
        <remap from="/points2" to="$(arg titania_ns)/points2" /> 
        <remap from="/points2_reduced" to="$(arg titania_ns)/points2_reduced" />
    </node>

    <!-- Detect cad in point cloud -->
    <node name="detect_primitives" pkg="i3dr_detect_3d" type="detect_primitives" output="screen" >
        <remap from="/points2" to="$(arg titania_ns)/points2_reduced" />
    </node>

    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
        args="-d $(find i3dr_detect_3d)/rviz/titania_prim.rviz"/>

</launch>